BHLFlickrTagHarvest/Service References/BHLImportWS/BHLImportWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.mobot.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.mobot.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.mobot.org/">
      <s:element name="IAItemSelectPendingApproval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ageInDays" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IAItemSelectPendingApprovalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IAItemSelectPendingApprovalResult" type="tns:ArrayOfIAItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIAItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IAItem" nillable="true" type="tns:IAItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IAItem">
        <s:complexContent mixed="false">
          <s:extension base="tns:__IAItem">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TotalItems" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="__IAItem" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ItemID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ItemStatusID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="IAIdentifierPrefix" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IAIdentifier" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Sponsor" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SponsorName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScanningCenter" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CallNumber" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ImageCount" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentifierAccessUrl" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Volume" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScanOperator" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScanDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ExternalStatus" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MARCBibID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IADateStamp" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="IAAddedDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastOAIDataHarvestDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastXMLDataHarvestDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastProductionDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CreatedDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="ShortTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SponsorDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TitleID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Year" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentifierBib" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ZQuery" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LicenseUrl" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Rights" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DueDiligence" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PossibleCopyrightStatus" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CopyrightRegion" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CopyrightComment" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CopyrightEvidence" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CopyrightEvidenceOperator" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CopyrightEvidenceDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LocalFileFolder" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="NoMARCOk" type="s:unsignedByte" />
              <s:element minOccurs="0" maxOccurs="1" name="ScanningInstitution" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RightsHolder" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemDescription" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CustomObjectBase" abstract="true" />
      <s:element name="BotanicusHarvestLogSelectRecent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numLogs" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BotanicusHarvestLogSelectRecentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BotanicusHarvestLogSelectRecentResult" type="tns:ArrayOfBotanicusHarvestLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBotanicusHarvestLog">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BotanicusHarvestLog" nillable="true" type="tns:BotanicusHarvestLog" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BotanicusHarvestLog">
        <s:complexContent mixed="false">
          <s:extension base="tns:__BotanicusHarvestLog" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="__BotanicusHarvestLog" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="BotanicusHarvestLogID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="HarvestStartDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="HarvestEndDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="AutomaticHarvest" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="SuccessfulHarvest" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Title" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleTag" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleCreator" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Creator" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Item" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Page" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IndicatedPage" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PagePageType" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PageName" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="IAItemErrorSelectRecent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numErrors" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IAItemErrorSelectRecentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IAItemErrorSelectRecentResult" type="tns:ArrayOfIAItemError" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIAItemError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IAItemError" nillable="true" type="tns:IAItemError" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IAItemError">
        <s:complexContent mixed="false">
          <s:extension base="tns:__IAItemError">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="IAIdentifier" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="__IAItemError" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ItemErrorID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ItemID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ErrorDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Number" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Severity" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="State" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Procedure" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Line" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ImportErrorSelectRecent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numErrors" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportErrorSelectRecentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportErrorSelectRecentResult" type="tns:ArrayOfImportError" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfImportError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImportError" nillable="true" type="tns:ImportError" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ImportError">
        <s:complexContent mixed="false">
          <s:extension base="tns:__ImportError" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="__ImportError" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ImportErrorID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="KeyType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="KeyValue" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ErrorDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Number" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Severity" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="State" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Procedure" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Line" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ImportLogSelectRecent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numLogs" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportLogSelectRecentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportLogSelectRecentResult" type="tns:ArrayOfImportLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfImportLog">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImportLog" nillable="true" type="tns:ImportLog" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ImportLog">
        <s:complexContent mixed="false">
          <s:extension base="tns:__ImportLog">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ImportSource" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="__ImportLog" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ImportLogID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ImportDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="ImportSourceID" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ImportResult" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleUpdate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CreatorInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CreatorUpdate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleCreatorInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleCreatorUpdate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleTagInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleTagUpdate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleTitleIdentifierInsert" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleTitleIdentifierUpdate" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleAssociationInsert" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleAssociationTitleIdentifierInsert" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleVariantInsert" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ItemInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ItemUpdate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleItemInsert" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PageInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PageUpdate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IndicatedPageInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IndicatedPageUpdate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PagePageTypeInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PagePageTypeUpdate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PageNameInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PageNameUpdate" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="IAItemQueueForDownload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iaIdentifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="localFileFolder" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IAItemQueueForDownloadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IAItemQueueForDownloadResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="IAItemStatusSelectAll">
        <s:complexType />
      </s:element>
      <s:element name="IAItemStatusSelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IAItemStatusSelectAllResult" type="tns:ArrayOfIAItemStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIAItemStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IAItemStatus" nillable="true" type="tns:IAItemStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IAItemStatus">
        <s:complexContent mixed="false">
          <s:extension base="tns:__IAItemStatus" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="__IAItemStatus" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ItemStatusID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreatedDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="IAItemSelectByStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemStatusId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numberOfRows" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sortColumn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sortDirection" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IAItemSelectByStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IAItemSelectByStatusResult" type="tns:ArrayOfIAItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IAItemUpdateStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="itemStatusId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IAItemUpdateStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IAItemUpdateStatusResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BSItemStatusSelectAll">
        <s:complexType />
      </s:element>
      <s:element name="BSItemStatusSelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BSItemStatusSelectAllResult" type="tns:ArrayOfBSItemStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBSItemStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BSItemStatus" nillable="true" type="tns:BSItemStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BSItemStatus">
        <s:complexContent mixed="false">
          <s:extension base="tns:__BSItemStatus" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="__BSItemStatus" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ItemStatusID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreationDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="BSItemSelectByStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemStatusId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numberOfRows" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sortColumn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sortDirection" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BSItemSelectByStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BSItemSelectByStatusResult" type="tns:ArrayOfBSItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBSItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BSItem" nillable="true" type="tns:BSItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BSItem">
        <s:complexContent mixed="false">
          <s:extension base="tns:__BSItem">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Volume" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TotalSegments" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TotalItems" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="__BSItem" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ItemID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="BHLItemID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ItemStatusID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CreationDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="BSItemUpdateStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="itemStatusId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BSItemUpdateStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BSItemUpdateStatusResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BSSegmentSelectByItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BSSegmentSelectByItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BSSegmentSelectByItemResult" type="tns:ArrayOfBSSegment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBSSegment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BSSegment" nillable="true" type="tns:BSSegment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BSSegment">
        <s:complexContent mixed="false">
          <s:extension base="tns:__BSSegment" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="__BSSegment" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="SegmentID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ItemID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="BioStorReferenceID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SequenceOrder" type="s:short" />
              <s:element minOccurs="0" maxOccurs="1" name="Genre" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContainerTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PublisherName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PublisherPlace" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Volume" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Series" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Issue" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Year" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ISSN" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DOI" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OCLC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JSTOR" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StartPageNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EndPageNumber" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="StartPageID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ContributorCreationDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="ContributorLastModifiedDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="BHLSegmentID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CreationDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="ContributorName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PageFlickrTagSelectForPageID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PageFlickrTagSelectForPageIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PageFlickrTagSelectForPageIDResult" type="tns:ArrayOfPageFlickrTag" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPageFlickrTag">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PageFlickrTag" nillable="true" type="tns:PageFlickrTag" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PageFlickrTag">
        <s:complexContent mixed="false">
          <s:extension base="tns:__PageFlickrTag" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="__PageFlickrTag" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="PageFlickrTagID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PageID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="PhotoID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsMachineTag" type="s:short" />
              <s:element minOccurs="0" maxOccurs="1" name="TagValue" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FlickrAuthorID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FlickrAuthorName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:unsignedByte" />
              <s:element minOccurs="1" maxOccurs="1" name="CreationDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PageFlickrTagUpdateForPageID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tags" type="tns:ArrayOfPageFlickrTag" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PageFlickrTagUpdateForPageIDResponse">
        <s:complexType />
      </s:element>
      <s:element name="StatsSelectReadyForProductionBySource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="importSourceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatsSelectReadyForProductionBySourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatsSelectReadyForProductionBySourceResult" type="tns:ArrayOfStats" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStats">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Stats" nillable="true" type="tns:Stats" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Stats">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfItems" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AgeInDays" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemStatusID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="StatsCountIAItemPendingApproval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ageInDays" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatsCountIAItemPendingApprovalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatsCountIAItemPendingApprovalResult" type="tns:Stats" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatsSelectIAItemGroupByStatus">
        <s:complexType />
      </s:element>
      <s:element name="StatsSelectIAItemGroupByStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatsSelectIAItemGroupByStatusResult" type="tns:ArrayOfStats" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatsSelectIAItemPendingApprovalGroupByAge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ageInDays" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatsSelectIAItemPendingApprovalGroupByAgeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatsSelectIAItemPendingApprovalGroupByAgeResult" type="tns:ArrayOfStats" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatsSelectBSItemGroupByStatus">
        <s:complexType />
      </s:element>
      <s:element name="StatsSelectBSItemGroupByStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatsSelectBSItemGroupByStatusResult" type="tns:ArrayOfStats" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IAItemSelectPendingApprovalSoapIn">
    <wsdl:part name="parameters" element="tns:IAItemSelectPendingApproval" />
  </wsdl:message>
  <wsdl:message name="IAItemSelectPendingApprovalSoapOut">
    <wsdl:part name="parameters" element="tns:IAItemSelectPendingApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="BotanicusHarvestLogSelectRecentSoapIn">
    <wsdl:part name="parameters" element="tns:BotanicusHarvestLogSelectRecent" />
  </wsdl:message>
  <wsdl:message name="BotanicusHarvestLogSelectRecentSoapOut">
    <wsdl:part name="parameters" element="tns:BotanicusHarvestLogSelectRecentResponse" />
  </wsdl:message>
  <wsdl:message name="IAItemErrorSelectRecentSoapIn">
    <wsdl:part name="parameters" element="tns:IAItemErrorSelectRecent" />
  </wsdl:message>
  <wsdl:message name="IAItemErrorSelectRecentSoapOut">
    <wsdl:part name="parameters" element="tns:IAItemErrorSelectRecentResponse" />
  </wsdl:message>
  <wsdl:message name="ImportErrorSelectRecentSoapIn">
    <wsdl:part name="parameters" element="tns:ImportErrorSelectRecent" />
  </wsdl:message>
  <wsdl:message name="ImportErrorSelectRecentSoapOut">
    <wsdl:part name="parameters" element="tns:ImportErrorSelectRecentResponse" />
  </wsdl:message>
  <wsdl:message name="ImportLogSelectRecentSoapIn">
    <wsdl:part name="parameters" element="tns:ImportLogSelectRecent" />
  </wsdl:message>
  <wsdl:message name="ImportLogSelectRecentSoapOut">
    <wsdl:part name="parameters" element="tns:ImportLogSelectRecentResponse" />
  </wsdl:message>
  <wsdl:message name="IAItemQueueForDownloadSoapIn">
    <wsdl:part name="parameters" element="tns:IAItemQueueForDownload" />
  </wsdl:message>
  <wsdl:message name="IAItemQueueForDownloadSoapOut">
    <wsdl:part name="parameters" element="tns:IAItemQueueForDownloadResponse" />
  </wsdl:message>
  <wsdl:message name="IAItemStatusSelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:IAItemStatusSelectAll" />
  </wsdl:message>
  <wsdl:message name="IAItemStatusSelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:IAItemStatusSelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IAItemSelectByStatusSoapIn">
    <wsdl:part name="parameters" element="tns:IAItemSelectByStatus" />
  </wsdl:message>
  <wsdl:message name="IAItemSelectByStatusSoapOut">
    <wsdl:part name="parameters" element="tns:IAItemSelectByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IAItemUpdateStatusSoapIn">
    <wsdl:part name="parameters" element="tns:IAItemUpdateStatus" />
  </wsdl:message>
  <wsdl:message name="IAItemUpdateStatusSoapOut">
    <wsdl:part name="parameters" element="tns:IAItemUpdateStatusResponse" />
  </wsdl:message>
  <wsdl:message name="BSItemStatusSelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:BSItemStatusSelectAll" />
  </wsdl:message>
  <wsdl:message name="BSItemStatusSelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:BSItemStatusSelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="BSItemSelectByStatusSoapIn">
    <wsdl:part name="parameters" element="tns:BSItemSelectByStatus" />
  </wsdl:message>
  <wsdl:message name="BSItemSelectByStatusSoapOut">
    <wsdl:part name="parameters" element="tns:BSItemSelectByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="BSItemUpdateStatusSoapIn">
    <wsdl:part name="parameters" element="tns:BSItemUpdateStatus" />
  </wsdl:message>
  <wsdl:message name="BSItemUpdateStatusSoapOut">
    <wsdl:part name="parameters" element="tns:BSItemUpdateStatusResponse" />
  </wsdl:message>
  <wsdl:message name="BSSegmentSelectByItemSoapIn">
    <wsdl:part name="parameters" element="tns:BSSegmentSelectByItem" />
  </wsdl:message>
  <wsdl:message name="BSSegmentSelectByItemSoapOut">
    <wsdl:part name="parameters" element="tns:BSSegmentSelectByItemResponse" />
  </wsdl:message>
  <wsdl:message name="PageFlickrTagSelectForPageIDSoapIn">
    <wsdl:part name="parameters" element="tns:PageFlickrTagSelectForPageID" />
  </wsdl:message>
  <wsdl:message name="PageFlickrTagSelectForPageIDSoapOut">
    <wsdl:part name="parameters" element="tns:PageFlickrTagSelectForPageIDResponse" />
  </wsdl:message>
  <wsdl:message name="PageFlickrTagUpdateForPageIDSoapIn">
    <wsdl:part name="parameters" element="tns:PageFlickrTagUpdateForPageID" />
  </wsdl:message>
  <wsdl:message name="PageFlickrTagUpdateForPageIDSoapOut">
    <wsdl:part name="parameters" element="tns:PageFlickrTagUpdateForPageIDResponse" />
  </wsdl:message>
  <wsdl:message name="StatsSelectReadyForProductionBySourceSoapIn">
    <wsdl:part name="parameters" element="tns:StatsSelectReadyForProductionBySource" />
  </wsdl:message>
  <wsdl:message name="StatsSelectReadyForProductionBySourceSoapOut">
    <wsdl:part name="parameters" element="tns:StatsSelectReadyForProductionBySourceResponse" />
  </wsdl:message>
  <wsdl:message name="StatsCountIAItemPendingApprovalSoapIn">
    <wsdl:part name="parameters" element="tns:StatsCountIAItemPendingApproval" />
  </wsdl:message>
  <wsdl:message name="StatsCountIAItemPendingApprovalSoapOut">
    <wsdl:part name="parameters" element="tns:StatsCountIAItemPendingApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="StatsSelectIAItemGroupByStatusSoapIn">
    <wsdl:part name="parameters" element="tns:StatsSelectIAItemGroupByStatus" />
  </wsdl:message>
  <wsdl:message name="StatsSelectIAItemGroupByStatusSoapOut">
    <wsdl:part name="parameters" element="tns:StatsSelectIAItemGroupByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="StatsSelectIAItemPendingApprovalGroupByAgeSoapIn">
    <wsdl:part name="parameters" element="tns:StatsSelectIAItemPendingApprovalGroupByAge" />
  </wsdl:message>
  <wsdl:message name="StatsSelectIAItemPendingApprovalGroupByAgeSoapOut">
    <wsdl:part name="parameters" element="tns:StatsSelectIAItemPendingApprovalGroupByAgeResponse" />
  </wsdl:message>
  <wsdl:message name="StatsSelectBSItemGroupByStatusSoapIn">
    <wsdl:part name="parameters" element="tns:StatsSelectBSItemGroupByStatus" />
  </wsdl:message>
  <wsdl:message name="StatsSelectBSItemGroupByStatusSoapOut">
    <wsdl:part name="parameters" element="tns:StatsSelectBSItemGroupByStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="BHLImportWSSoap">
    <wsdl:operation name="IAItemSelectPendingApproval">
      <wsdl:input message="tns:IAItemSelectPendingApprovalSoapIn" />
      <wsdl:output message="tns:IAItemSelectPendingApprovalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BotanicusHarvestLogSelectRecent">
      <wsdl:input message="tns:BotanicusHarvestLogSelectRecentSoapIn" />
      <wsdl:output message="tns:BotanicusHarvestLogSelectRecentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IAItemErrorSelectRecent">
      <wsdl:input message="tns:IAItemErrorSelectRecentSoapIn" />
      <wsdl:output message="tns:IAItemErrorSelectRecentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportErrorSelectRecent">
      <wsdl:input message="tns:ImportErrorSelectRecentSoapIn" />
      <wsdl:output message="tns:ImportErrorSelectRecentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportLogSelectRecent">
      <wsdl:input message="tns:ImportLogSelectRecentSoapIn" />
      <wsdl:output message="tns:ImportLogSelectRecentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IAItemQueueForDownload">
      <wsdl:input message="tns:IAItemQueueForDownloadSoapIn" />
      <wsdl:output message="tns:IAItemQueueForDownloadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IAItemStatusSelectAll">
      <wsdl:input message="tns:IAItemStatusSelectAllSoapIn" />
      <wsdl:output message="tns:IAItemStatusSelectAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IAItemSelectByStatus">
      <wsdl:input message="tns:IAItemSelectByStatusSoapIn" />
      <wsdl:output message="tns:IAItemSelectByStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IAItemUpdateStatus">
      <wsdl:input message="tns:IAItemUpdateStatusSoapIn" />
      <wsdl:output message="tns:IAItemUpdateStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BSItemStatusSelectAll">
      <wsdl:input message="tns:BSItemStatusSelectAllSoapIn" />
      <wsdl:output message="tns:BSItemStatusSelectAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BSItemSelectByStatus">
      <wsdl:input message="tns:BSItemSelectByStatusSoapIn" />
      <wsdl:output message="tns:BSItemSelectByStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BSItemUpdateStatus">
      <wsdl:input message="tns:BSItemUpdateStatusSoapIn" />
      <wsdl:output message="tns:BSItemUpdateStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BSSegmentSelectByItem">
      <wsdl:input message="tns:BSSegmentSelectByItemSoapIn" />
      <wsdl:output message="tns:BSSegmentSelectByItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PageFlickrTagSelectForPageID">
      <wsdl:input message="tns:PageFlickrTagSelectForPageIDSoapIn" />
      <wsdl:output message="tns:PageFlickrTagSelectForPageIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PageFlickrTagUpdateForPageID">
      <wsdl:input message="tns:PageFlickrTagUpdateForPageIDSoapIn" />
      <wsdl:output message="tns:PageFlickrTagUpdateForPageIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StatsSelectReadyForProductionBySource">
      <wsdl:input message="tns:StatsSelectReadyForProductionBySourceSoapIn" />
      <wsdl:output message="tns:StatsSelectReadyForProductionBySourceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StatsCountIAItemPendingApproval">
      <wsdl:input message="tns:StatsCountIAItemPendingApprovalSoapIn" />
      <wsdl:output message="tns:StatsCountIAItemPendingApprovalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StatsSelectIAItemGroupByStatus">
      <wsdl:input message="tns:StatsSelectIAItemGroupByStatusSoapIn" />
      <wsdl:output message="tns:StatsSelectIAItemGroupByStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StatsSelectIAItemPendingApprovalGroupByAge">
      <wsdl:input message="tns:StatsSelectIAItemPendingApprovalGroupByAgeSoapIn" />
      <wsdl:output message="tns:StatsSelectIAItemPendingApprovalGroupByAgeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StatsSelectBSItemGroupByStatus">
      <wsdl:input message="tns:StatsSelectBSItemGroupByStatusSoapIn" />
      <wsdl:output message="tns:StatsSelectBSItemGroupByStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BHLImportWSSoap" type="tns:BHLImportWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IAItemSelectPendingApproval">
      <soap:operation soapAction="http://www.mobot.org/IAItemSelectPendingApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BotanicusHarvestLogSelectRecent">
      <soap:operation soapAction="http://www.mobot.org/BotanicusHarvestLogSelectRecent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAItemErrorSelectRecent">
      <soap:operation soapAction="http://www.mobot.org/IAItemErrorSelectRecent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportErrorSelectRecent">
      <soap:operation soapAction="http://www.mobot.org/ImportErrorSelectRecent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportLogSelectRecent">
      <soap:operation soapAction="http://www.mobot.org/ImportLogSelectRecent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAItemQueueForDownload">
      <soap:operation soapAction="http://www.mobot.org/IAItemQueueForDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAItemStatusSelectAll">
      <soap:operation soapAction="http://www.mobot.org/IAItemStatusSelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAItemSelectByStatus">
      <soap:operation soapAction="http://www.mobot.org/IAItemSelectByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAItemUpdateStatus">
      <soap:operation soapAction="http://www.mobot.org/IAItemUpdateStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BSItemStatusSelectAll">
      <soap:operation soapAction="http://www.mobot.org/BSItemStatusSelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BSItemSelectByStatus">
      <soap:operation soapAction="http://www.mobot.org/BSItemSelectByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BSItemUpdateStatus">
      <soap:operation soapAction="http://www.mobot.org/BSItemUpdateStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BSSegmentSelectByItem">
      <soap:operation soapAction="http://www.mobot.org/BSSegmentSelectByItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PageFlickrTagSelectForPageID">
      <soap:operation soapAction="http://www.mobot.org/PageFlickrTagSelectForPageID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PageFlickrTagUpdateForPageID">
      <soap:operation soapAction="http://www.mobot.org/PageFlickrTagUpdateForPageID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsSelectReadyForProductionBySource">
      <soap:operation soapAction="http://www.mobot.org/StatsSelectReadyForProductionBySource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsCountIAItemPendingApproval">
      <soap:operation soapAction="http://www.mobot.org/StatsCountIAItemPendingApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsSelectIAItemGroupByStatus">
      <soap:operation soapAction="http://www.mobot.org/StatsSelectIAItemGroupByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsSelectIAItemPendingApprovalGroupByAge">
      <soap:operation soapAction="http://www.mobot.org/StatsSelectIAItemPendingApprovalGroupByAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsSelectBSItemGroupByStatus">
      <soap:operation soapAction="http://www.mobot.org/StatsSelectBSItemGroupByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BHLImportWSSoap12" type="tns:BHLImportWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IAItemSelectPendingApproval">
      <soap12:operation soapAction="http://www.mobot.org/IAItemSelectPendingApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BotanicusHarvestLogSelectRecent">
      <soap12:operation soapAction="http://www.mobot.org/BotanicusHarvestLogSelectRecent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAItemErrorSelectRecent">
      <soap12:operation soapAction="http://www.mobot.org/IAItemErrorSelectRecent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportErrorSelectRecent">
      <soap12:operation soapAction="http://www.mobot.org/ImportErrorSelectRecent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportLogSelectRecent">
      <soap12:operation soapAction="http://www.mobot.org/ImportLogSelectRecent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAItemQueueForDownload">
      <soap12:operation soapAction="http://www.mobot.org/IAItemQueueForDownload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAItemStatusSelectAll">
      <soap12:operation soapAction="http://www.mobot.org/IAItemStatusSelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAItemSelectByStatus">
      <soap12:operation soapAction="http://www.mobot.org/IAItemSelectByStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAItemUpdateStatus">
      <soap12:operation soapAction="http://www.mobot.org/IAItemUpdateStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BSItemStatusSelectAll">
      <soap12:operation soapAction="http://www.mobot.org/BSItemStatusSelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BSItemSelectByStatus">
      <soap12:operation soapAction="http://www.mobot.org/BSItemSelectByStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BSItemUpdateStatus">
      <soap12:operation soapAction="http://www.mobot.org/BSItemUpdateStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BSSegmentSelectByItem">
      <soap12:operation soapAction="http://www.mobot.org/BSSegmentSelectByItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PageFlickrTagSelectForPageID">
      <soap12:operation soapAction="http://www.mobot.org/PageFlickrTagSelectForPageID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PageFlickrTagUpdateForPageID">
      <soap12:operation soapAction="http://www.mobot.org/PageFlickrTagUpdateForPageID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsSelectReadyForProductionBySource">
      <soap12:operation soapAction="http://www.mobot.org/StatsSelectReadyForProductionBySource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsCountIAItemPendingApproval">
      <soap12:operation soapAction="http://www.mobot.org/StatsCountIAItemPendingApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsSelectIAItemGroupByStatus">
      <soap12:operation soapAction="http://www.mobot.org/StatsSelectIAItemGroupByStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsSelectIAItemPendingApprovalGroupByAge">
      <soap12:operation soapAction="http://www.mobot.org/StatsSelectIAItemPendingApprovalGroupByAge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsSelectBSItemGroupByStatus">
      <soap12:operation soapAction="http://www.mobot.org/StatsSelectBSItemGroupByStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BHLImportWS">
    <wsdl:port name="BHLImportWSSoap" binding="tns:BHLImportWSSoap">
      <soap:address location="http://localhost:22542/BHLImportWS.asmx" />
    </wsdl:port>
    <wsdl:port name="BHLImportWSSoap12" binding="tns:BHLImportWSSoap12">
      <soap12:address location="http://localhost:22542/BHLImportWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>