BHLUSWeb2/Service References/SiteService/SiteService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://biodiversitylibrary.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://biodiversitylibrary.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://biodiversitylibrary.org/">
      <s:element name="GetOcrText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOcrTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOcrTextResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="itemID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemTextResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQueueMessageCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queueName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQueueMessageCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetQueueMessageCountResult" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueueMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queueName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messages" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueueMessagesResponse">
        <s:complexType />
      </s:element>
      <s:element name="DOIGetFileContents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="batchId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DOIGetFileContentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DOIGetFileContentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OcrJobExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OcrJobExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OcrJobExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OcrCreateJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OcrCreateJobResponse">
        <s:complexType />
      </s:element>
      <s:element name="MARCFileExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MARCFileExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MARCFileExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MARCGetFileContents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MARCGetFileContentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MARCGetFileContentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarcCreateFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="marcBibID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarcCreateFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="PageGetImageDimensions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pages" type="tns:ArrayOfViewerPage" />
            <s:element minOccurs="1" maxOccurs="1" name="itemType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="itemID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfViewerPage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ViewerPage" nillable="true" type="tns:ViewerPage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ViewerPage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExternalBaseUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AltExternalUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlickrUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SequenceOrder" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="PageGetImageDimensionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PageGetImageDimensionsResult" type="tns:ArrayOfViewerPage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="bcc" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemPdf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="itemID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemPdfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemPdfResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOcrTextSoapIn">
    <wsdl:part name="parameters" element="tns:GetOcrText" />
  </wsdl:message>
  <wsdl:message name="GetOcrTextSoapOut">
    <wsdl:part name="parameters" element="tns:GetOcrTextResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemTextSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemText" />
  </wsdl:message>
  <wsdl:message name="GetItemTextSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemTextResponse" />
  </wsdl:message>
  <wsdl:message name="GetQueueMessageCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetQueueMessageCount" />
  </wsdl:message>
  <wsdl:message name="GetQueueMessageCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetQueueMessageCountResponse" />
  </wsdl:message>
  <wsdl:message name="QueueMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:QueueMessages" />
  </wsdl:message>
  <wsdl:message name="QueueMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:QueueMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="DOIGetFileContentsSoapIn">
    <wsdl:part name="parameters" element="tns:DOIGetFileContents" />
  </wsdl:message>
  <wsdl:message name="DOIGetFileContentsSoapOut">
    <wsdl:part name="parameters" element="tns:DOIGetFileContentsResponse" />
  </wsdl:message>
  <wsdl:message name="OcrJobExistsSoapIn">
    <wsdl:part name="parameters" element="tns:OcrJobExists" />
  </wsdl:message>
  <wsdl:message name="OcrJobExistsSoapOut">
    <wsdl:part name="parameters" element="tns:OcrJobExistsResponse" />
  </wsdl:message>
  <wsdl:message name="OcrCreateJobSoapIn">
    <wsdl:part name="parameters" element="tns:OcrCreateJob" />
  </wsdl:message>
  <wsdl:message name="OcrCreateJobSoapOut">
    <wsdl:part name="parameters" element="tns:OcrCreateJobResponse" />
  </wsdl:message>
  <wsdl:message name="MARCFileExistsSoapIn">
    <wsdl:part name="parameters" element="tns:MARCFileExists" />
  </wsdl:message>
  <wsdl:message name="MARCFileExistsSoapOut">
    <wsdl:part name="parameters" element="tns:MARCFileExistsResponse" />
  </wsdl:message>
  <wsdl:message name="MARCGetFileContentsSoapIn">
    <wsdl:part name="parameters" element="tns:MARCGetFileContents" />
  </wsdl:message>
  <wsdl:message name="MARCGetFileContentsSoapOut">
    <wsdl:part name="parameters" element="tns:MARCGetFileContentsResponse" />
  </wsdl:message>
  <wsdl:message name="MarcCreateFileSoapIn">
    <wsdl:part name="parameters" element="tns:MarcCreateFile" />
  </wsdl:message>
  <wsdl:message name="MarcCreateFileSoapOut">
    <wsdl:part name="parameters" element="tns:MarcCreateFileResponse" />
  </wsdl:message>
  <wsdl:message name="PageGetImageDimensionsSoapIn">
    <wsdl:part name="parameters" element="tns:PageGetImageDimensions" />
  </wsdl:message>
  <wsdl:message name="PageGetImageDimensionsSoapOut">
    <wsdl:part name="parameters" element="tns:PageGetImageDimensionsResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemPdfSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemPdf" />
  </wsdl:message>
  <wsdl:message name="GetItemPdfSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemPdfResponse" />
  </wsdl:message>
  <wsdl:portType name="SiteServiceSoap">
    <wsdl:operation name="GetOcrText">
      <wsdl:input message="tns:GetOcrTextSoapIn" />
      <wsdl:output message="tns:GetOcrTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemText">
      <wsdl:input message="tns:GetItemTextSoapIn" />
      <wsdl:output message="tns:GetItemTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQueueMessageCount">
      <wsdl:input message="tns:GetQueueMessageCountSoapIn" />
      <wsdl:output message="tns:GetQueueMessageCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueueMessages">
      <wsdl:input message="tns:QueueMessagesSoapIn" />
      <wsdl:output message="tns:QueueMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DOIGetFileContents">
      <wsdl:input message="tns:DOIGetFileContentsSoapIn" />
      <wsdl:output message="tns:DOIGetFileContentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OcrJobExists">
      <wsdl:input message="tns:OcrJobExistsSoapIn" />
      <wsdl:output message="tns:OcrJobExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OcrCreateJob">
      <wsdl:input message="tns:OcrCreateJobSoapIn" />
      <wsdl:output message="tns:OcrCreateJobSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MARCFileExists">
      <wsdl:input message="tns:MARCFileExistsSoapIn" />
      <wsdl:output message="tns:MARCFileExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MARCGetFileContents">
      <wsdl:input message="tns:MARCGetFileContentsSoapIn" />
      <wsdl:output message="tns:MARCGetFileContentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MarcCreateFile">
      <wsdl:input message="tns:MarcCreateFileSoapIn" />
      <wsdl:output message="tns:MarcCreateFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PageGetImageDimensions">
      <wsdl:input message="tns:PageGetImageDimensionsSoapIn" />
      <wsdl:output message="tns:PageGetImageDimensionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailSoapIn" />
      <wsdl:output message="tns:SendEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemPdf">
      <wsdl:input message="tns:GetItemPdfSoapIn" />
      <wsdl:output message="tns:GetItemPdfSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SiteServiceSoap" type="tns:SiteServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOcrText">
      <soap:operation soapAction="https://biodiversitylibrary.org/GetOcrText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemText">
      <soap:operation soapAction="https://biodiversitylibrary.org/GetItemText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueueMessageCount">
      <soap:operation soapAction="https://biodiversitylibrary.org/GetQueueMessageCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueueMessages">
      <soap:operation soapAction="https://biodiversitylibrary.org/QueueMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DOIGetFileContents">
      <soap:operation soapAction="https://biodiversitylibrary.org/DOIGetFileContents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OcrJobExists">
      <soap:operation soapAction="https://biodiversitylibrary.org/OcrJobExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OcrCreateJob">
      <soap:operation soapAction="https://biodiversitylibrary.org/OcrCreateJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MARCFileExists">
      <soap:operation soapAction="https://biodiversitylibrary.org/MARCFileExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MARCGetFileContents">
      <soap:operation soapAction="https://biodiversitylibrary.org/MARCGetFileContents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarcCreateFile">
      <soap:operation soapAction="https://biodiversitylibrary.org/MarcCreateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PageGetImageDimensions">
      <soap:operation soapAction="https://biodiversitylibrary.org/PageGetImageDimensions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="https://biodiversitylibrary.org/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemPdf">
      <soap:operation soapAction="https://biodiversitylibrary.org/GetItemPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SiteServiceSoap12" type="tns:SiteServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOcrText">
      <soap12:operation soapAction="https://biodiversitylibrary.org/GetOcrText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemText">
      <soap12:operation soapAction="https://biodiversitylibrary.org/GetItemText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueueMessageCount">
      <soap12:operation soapAction="https://biodiversitylibrary.org/GetQueueMessageCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueueMessages">
      <soap12:operation soapAction="https://biodiversitylibrary.org/QueueMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DOIGetFileContents">
      <soap12:operation soapAction="https://biodiversitylibrary.org/DOIGetFileContents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OcrJobExists">
      <soap12:operation soapAction="https://biodiversitylibrary.org/OcrJobExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OcrCreateJob">
      <soap12:operation soapAction="https://biodiversitylibrary.org/OcrCreateJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MARCFileExists">
      <soap12:operation soapAction="https://biodiversitylibrary.org/MARCFileExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MARCGetFileContents">
      <soap12:operation soapAction="https://biodiversitylibrary.org/MARCGetFileContents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarcCreateFile">
      <soap12:operation soapAction="https://biodiversitylibrary.org/MarcCreateFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PageGetImageDimensions">
      <soap12:operation soapAction="https://biodiversitylibrary.org/PageGetImageDimensions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="https://biodiversitylibrary.org/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemPdf">
      <soap12:operation soapAction="https://biodiversitylibrary.org/GetItemPdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SiteService">
    <wsdl:port name="SiteServiceSoap" binding="tns:SiteServiceSoap">
      <soap:address location="http://localhost:60786/SiteService.asmx" />
    </wsdl:port>
    <wsdl:port name="SiteServiceSoap12" binding="tns:SiteServiceSoap12">
      <soap12:address location="http://localhost:60786/SiteService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>